@mixin subject-card() {
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    justify-content: center !important;
    cursor: pointer !important;

    ion-card-header {
        padding-top: 10px;
        padding-bottom: 10px;

        h1,
        h2,
        h3,
        h4 {
            margin: 0;
        }
    }

    &:hover {
        box-shadow: 0 8px 16px var(--ion-color-medium-shade), 0 3px 6px var(--ion-color-medium-shade);
        transform: translateY(-2px);
    }
}

.subject-card-scroll {
    @include subject-card();
    width: 55vw;
    height: 6rem;
}

.subject-card-grid {
    @include subject-card();
    max-height: 5rem;
}