<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{topic?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content ion-padding">
  <ion-grid *ngIf="topic">
    <ion-row>
      <h1>{{topic?.name}}</h1>
    </ion-row>
    <!-- TABLE OF CONTENTS-->
    <div class="docs-table-of-contents">
      <strong class="Nav-header">Contents</strong>
      <nav>
        <ul class="Nav-subnav">
          <li class="Nav-link"><a href="{{baseUrl}}#usage">Usage</a></li>
          <li class="Nav-link"><a href="{{baseUrl}}#properties">Properties</a></li>
          <li class="Nav-link"><a href="{{baseUrl}}#Events">Events</a></li>
          <li class="Nav-link"><a href="{{baseUrl}}#Methods">Methods</a></li>
        </ul>
      </nav>
    </div>

    <!-- TOPIC INTRO  -->
    <ion-row>
      <p class="intro">
        <span *ngFor="let i of topic.intro">
          <span *ngIf="i.type === 'text' || !i.type">{{i.value}}</span>
          <code *ngIf="i.type === 'code'">{{i.value}}</code>
        </span>
      </p>
    </ion-row>

    <!-- THE CONTENTS/DETAIL SECTION WITH HEADING-->
    <div *ngFor="let c of topic.contentList">
      <!--Headings: h2 or h3 will be chosen based on the type-->
      <h3 *ngIf="!c.heading.type || c.heading?.type === 'h3'" [id]="c?.heading.value"> <a
          href="{{baseUrl}}#{{c?.heading.value}}">{{c?.heading.value}}</a></h3>
      <h2 *ngIf="c.heading?.type === 'h2'" [id]="c?.heading.value"> <a
          href="{{baseUrl}}#{{c?.heading.value}}">{{c?.heading.value}}</a></h2>

      <!-- DETAILS UPDER A HEADING -->
      <div *ngFor="let cm of c.contentMapList">
        <!-- THIS IS A PARAGRAPH -->
        <p *ngIf="!cm.type || cm?.type === 'p'">
          <span *ngFor="let i of cm.content">
            <span *ngIf="i.type === 'text' || !i.type">{{i.value}}</span>
            <code *ngIf="i.type === 'code'">{{i.value}}</code>
          </span>
        </p>
        <!-- THIS IS CODE CARD . COMES FROM contentMapList only-->
        <div *ngIf="cm.type === 'code'">
          <code-example [code]="cb.value" heading="" [showLineNumbers]="showLineNumbers" *ngFor="let cb of cm.content">
          </code-example>
        </div>
        <!-- THIS IS NOTE CARD . COMES FROM contentMapList only-->
        <div *ngIf="cm.type === 'note'">
          <notes-card [content]="cb.value" [type]="cb?.noteType" [title]="cb?.heading" *ngFor="let cb of cm.content">
          </notes-card>
        </div>

      </div>

    </div>
  </ion-grid>

</ion-content>