// @import '~highlight.js/styles/tomorrow-night-blue.css';
ion-col {
    padding: 0;
}

ion-card {
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
    border-radius: 2px;

    ion-card-content {
        padding: 0;

        pre {
            // border-left: .5rem solid var(--ion-color-primary);
            margin: 0;

            code {
                padding: 1rem;
            }
        }
    }

}