<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome to {{ title }}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size=" 12" size-sm="6" size-lg="4" class="ion-padding">
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size=" 12" size-sm="6" size-lg="4" class="ion-padding">
        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [legend]="showLegend"
          [labels]="showLabels" [gradient]="gradient" (select)="onSelect($event)">
        </ngx-charts-pie-chart>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>