<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <div class="container">
    <div class="central-body">
      <img class="image-404" src="/assets/img/404/404.svg">
      <div class="home-btn">
        <ion-chip color="dark" button (click)="navigateToHome()">
          <ion-label>GO BACK HOME</ion-label>
          <ion-icon name="play"></ion-icon>
        </ion-chip>
      </div>

    </div>
  </div>
  <div class="objects">
    <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
    <div class="earth-moon">
      <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
      <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
    </div>
  </div>

  <div class="glowing_stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>

</ion-content>