<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-xl="9">
      <ion-card color="primary" class="ion-padding signup-card">
        <ion-card-header>
          <ion-row class="ion-justify-content-center">
            <ion-item>
              <ion-text color="dark">
                <h3 style="align-items: center;">Create a New Account</h3>
              </ion-text>
            </ion-item>
          </ion-row>
        </ion-card-header>
        <form [formGroup]="registerForm" (ngSubmit)="signUpWithEmailId()">
          <ion-list>
            <ion-item>
              <ion-label position="fixed" color="primary">First Name<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="firstName" placeholder="First Name"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <ion-text color="danger">
                <p *ngIf="f.firstName.errors.required" class="ion-padding-start">
                  <ion-icon name="alert"></ion-icon>
                  First Name is required
                </p>
                <p *ngIf="f.firstName.errors.minlength" class="ion-padding-start">
                  <ion-icon name="alert"></ion-icon>
                  First Name must be at least 6 characters
                </p>
              </ion-text>
            </div>
            <ion-item>
              <ion-label position="fixed" color="primary">Last Name<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="lastName"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <ion-text color="danger">
                <p class="ion-padding-start">
                  <ion-icon name="alert"></ion-icon>
                  Last Name is required
                </p>
              </ion-text>
            </div>
            <ion-item>
              <ion-label position="fixed" color="primary">Email<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <ion-text color="danger">
                <p *ngIf="f.email.errors.required" class="ion-padding-start">
                  <ion-icon name="alert"></ion-icon>
                  Email is required
                </p>
                <p *ngIf="f.email.errors.email" class="ion-padding-start">
                  <ion-icon name="alert"></ion-icon>
                  Enter a valid email
                </p>
              </ion-text>
            </div>
            <div formGroupName="passwords">
              <ion-item>
                <ion-label position="fixed" color="primary">Password<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input [type]="passwordShown ? 'text' : 'password'" formControlName="password"></ion-input>
                <ion-icon [name]="passwordShown ? 'eye' : 'eye-off'" color="medium" slot="end"
                  (click)="togglePassword()">
                </ion-icon>
              </ion-item>
              <p>{{registerForm.get('password')}}</p>
              <div *ngIf="submitted && p.password.errors" class="invalid-feedback">
                <ion-text color="danger">
                  <p *ngIf="p.password.errors.required" class="ion-padding-start">
                    <ion-icon name="alert"></ion-icon>
                    Password is required
                  </p>
                  <p *ngIf="p.password.errors.minlength" class="ion-padding-start">
                    <ion-icon name="alert"></ion-icon>
                    Password must be at least 6 characters
                  </p>
                </ion-text>
              </div>
              <ion-item>
                <ion-label position="fixed" color="primary">Confirm<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input [type]="passwordShown ? 'text' : 'password'" formControlName="confirmPassword"></ion-input>
                <ion-icon [name]="passwordShown ? 'eye' : 'eye-off'" color="medium" slot="end"
                  (click)="togglePassword()">
                </ion-icon>
              </ion-item>
              <div *ngIf="submitted && (p.confirmPassword.errors)" class="invalid-feedback">
                <ion-text color="danger">
                  <p *ngIf="p.confirmPassword.errors.required" class="ion-padding-start">
                    <ion-icon name="alert"></ion-icon>
                    Confirm Password is required
                  </p>
                  <p *ngIf="p.confirmPassword.errors.minlength" class="ion-padding-start">
                    <ion-icon name="alert"></ion-icon>
                    Confirm Password must be at least 6 characters
                  </p>
                </ion-text>
              </div>
              <div *ngIf="submitted && (!!f.passwords.errors)" class="invalid-feedback">
                <ion-text color="danger">
                  <p *ngIf="f.passwords.errors.passwordMismatch" class="ion-padding-start">
                    <ion-icon name="alert"></ion-icon>
                    Password does not match
                  </p>
                </ion-text>
              </div>

            </div>

          </ion-list>
          <ion-row>
            <ion-col size="12" size-md="9">
              <ion-button type="submit" expand="block">Create</ion-button>
            </ion-col>
            <ion-col size="12" size-md="3">
              <ion-button (click)="signOut()" color="dark" fill="outline" expand="block">Log out</ion-button>
            </ion-col>

          </ion-row>
        </form>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-button color="google" (click)="signInWithGoogle()" type="submit" expand="block">
              <ion-icon name="logo-googleplus"></ion-icon>
              <span> &nbsp;Login</span>
            </ion-button>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-button color="facebook" (click)="signInWithFaceBook()" type="submit" expand="block">
              <ion-icon name="logo-facebook"></ion-icon>
              <span> &nbsp;Login</span>
            </ion-button>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card class="school-card">
    <p>
      Form Value: {{ registerForm.value | json }}
    </p>
    <p>
      Form Status: {{ registerForm.status }}
    </p>

  </ion-card>

</ion-content>