<ion-header [class.dark-theme]="dark">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>animation</ion-title>
    <ion-item slot="end" lines="none">
      <ion-label>
        Dark Theme
      </ion-label>
      <ion-toggle [(ngModel)]="dark"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [class.dark-theme]="dark">
  <div data-aos="fade-up" data-aos-once="true">
    the content
  </div>
  <ion-card color="tertiary" class="ion-padding animated fadeInLeft">
    <ion-card-content class="ion-padding">
      <ion-button color="google" (click)="toggleVisible()">
        toggle visibility
      </ion-button>
      <ion-button color="google" (click)="animateElem()">
        Animate it
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class=" ion-padding" #myElement>
    <ion-card-content class="ion-padding">

      <ion-item [@myvisibility]="visibleState">
        <h1>
          I am sometimes here and sometimes there. Animation using angular animation </h1>
      </ion-item>
      <ion-item class=" animated fadeInLeft">
        <h1> I am fadeInLeft. Animation using animate.css </h1>
      </ion-item>
      <ion-item class=" animated" [class.fadeInRight]="fadeInRight">
        <h1> I am fadeInRight. Animation using animate.css </h1>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <!--   <ion-card #myElement>
    <ion-card-header>My Animation Card</ion-card-header>
    <ion-card-content>So much awesome content and animations. AMAZING!</ion-card-content>
  </ion-card> -->

  <p class="animated bounce">hello</p>
  <header class="site__header island">
    <div class="wrap">
      <span id="animationSandbox" style="display: block;" class="">
        <h1 class="site__title mega">Animate.css</h1>
      </span>
      <span class="beta subhead">Just-add-water CSS animations</span>
    </div>
  </header>





  <section fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="50" wmAnimate="landing" speed="slow" aos="true" once="true">

      <h1><b>Get your app done right</b></h1>

      <p>Wizdm provides wonders to your singple page application</p>

      <button mat-raised-button color="accent" routerLink="/">Get started</button>

      <p class="mat-small">Join us and become part of the revolution of wizdm</p>

    </div>

    <img fxFlex="50" width="50px" src="./../../../assets/img/appicon.svg" />

  </section>

  <div data-aos="fade-up" data-aos-once="true">
    <h1>the content</h1>
  </div>

</ion-content>