<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>image-hover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch ion-padding">

      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding" *ngFor="let topic of topicList">
        <ion-card class=" ionic-component-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item">
              <ion-avatar slot="start">
                <img [src]="topic?.icon" alt="JS">
              </ion-avatar>
            </ion-item>
            <ion-item detail="false" lines="none" class="speaker-item">

              <ion-card-title>{{topic.title}}</ion-card-title>
            </ion-item>

          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <p size="small">{{topic.detail}}
              </p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="subject-card-grid blury-card">
          <img src="assets/img/cards/travel.jpg" alt="EMMYLOU">
          <div class="frame">
            <ion-card-header>
              <h2>Blue Ridge</h2>
              <p>MOUNTAINS</p>
            </ion-card-header>
          </div>

        </ion-card>

      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="subject-card-grid zoom-in">
          <img class="bg-img" src="assets/img/cards/italy.jpg" alt="EMMYLOU">
          <ion-card-header>
            <h2>Postcards From Italy</h2>
            <p>And I will love to see that day</p>
          </ion-card-header>
        </ion-card>

      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="subject-card-grid vintage">
          <img src="assets/img/cards/vintage.jpg" alt="EMMYLOU">
          <ion-card-header>
            <h2>EMMYLOU</h2>
            <p>I'll be your Emmylou and I'll be your June</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="image-card-with-center-text">
          <img src="assets/img/cards/madison.jpg" alt="EMMYLOU">
          <ion-card-header>
            <h1 class="fadeIn">I am an image card with center text </h1>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="full-image-card-with-center-text-with-image-zoom">
          <img src="assets/img/cards/madison.jpg" alt="EMMYLOU">
          <ion-card-header>
            <h1 class="fadeIn">I am an image card with center text </h1>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="image-card-with-p-show-on-hover">
          <img class="bg-img" src="assets/img/cards/italy.jpg" alt="EMMYLOU">
          <ion-card-header>
            <h2>Postcards From Italy</h2>
            <p>And I will love to see that day</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="center-text-card">
          <ion-card-header>
            <h2>Postcards From Italy</h2>
            <p>And I will love to see that day</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" class="ion-padding">
        <ion-card class="center-text-card-with-shadow-on-hover">
          <ion-card-header>
            <h2>Postcards From Italy</h2>
            <p>And I will love to see that day</p>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>