@font-face {
    font-family: 'Source Code Pro';
    src: url('../assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
}

@font-face {
    src: url('../assets/fonts/eina/eina-700.woff2') format("woff2"), url(/docs/assets/fonts/eina-700.woff) format("woff");
    font-family: Eina;
    font-style: normal;
    font-weight: 700
}