ion-item {
  --transition: unset;
}

/* .my-custom-menu {
  // --width: 500px;
} */
/* ion-menu-button {
  --color:  var(--ion-color-primary);
} */

.active {
  --color: var(--ion-color-primary);
  --background: rgba(var(--ion-color-primary-rgb), 0.12);
  --background-hover: rgba(var(--ion-color-primary-rgb), 0.16);
  --background-focused: rgba(var(--ion-color-primary-rgb), 0.24);

  ion-icon {
    color: inherit;
  }
}



ion-app,
html.plt-mobile ion-app {
  -webkit-user-select: text !important;
  /* Chrome all / Safari all */
  -moz-user-select: text !important;
  /* Firefox all */
  -ms-user-select: text !important;
  /* IE 10+ */
  user-select: text !important;
}

.devsite-site-logo-link {
  margin: auto auto;

  .devsite-site-logo {
    height: auto;
    max-height: 32px;
    margin: auto auto;

  }

}