<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Subjects Io Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content ion-padding-xl">
  <div [hidden]="!commonService.isMobileView()">
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" [options]="slideOpts" pager="true">
      <ion-slide *ngFor="let subject of subjectList">
        <card [data]="subject" type="SUBJECT" [additionalProps]="{cssClass: 'subject-card-scroll'}"></card>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list [hidden]="commonService.isMobileView()">
    <ion-grid>
      <ion-row class="ion-align-items-stretch ion-padding">
        <ion-col size=" 12" size-sm="6" size-md="4" size-xl="4" *ngFor="let subject of subjectList">
          <card [data]="subject" type="SUBJECT" [additionalProps]="{cssClass: 'subject-card-grid'}"></card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
    <!-- <card *ngFor="let name of names" [name]="name" color="green"></card> -->
  </ion-list>

</ion-content>